.header {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center; /* Centra los elementos verticalmente */
    background-color: #031C26;
    padding: 10px; /* Añade un padding alrededor del contenido */
}

.icon {
    display: flex;
    align-items: center;
}

.btn-logo {
    width: 200px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.mi-logo-svg {
    width: 100%;
}

.slider {
    display: flex;
    align-items: center;
}

.menu{
	background-color: black;
}
