<div class="container" style="max-width: 900px; margin: 0 auto; padding: 2rem;">

    <h4 class="titular" style="text-align: center; font-size: 3rem;">Perfil de Usuario</h4>

    <mat-list dense>
      <mat-list-item>
        <span style="font-weight: bold; width: 150px;">Nombres Completo:</span> {{ usuario?.nombre }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span style="font-weight: bold; width: 150px;">Correo:</span> {{ usuario?.correo }}
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <span style="font-weight: bold; width: 150px;">Teléfono:</span> {{ usuario?.telefono }}
      </mat-list-item>
    </mat-list>

    <h4 class="titular" style="margin-top: 3rem;">Paquetes comprados</h4>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" style="background-color: rgba(255, 255, 255, 0.85);">

        <!-- ID de orden -->
        <ng-container matColumnDef="idOrdenPago">
            <th mat-header-cell *matHeaderCellDef> N° Orden </th>
            <td mat-cell *matCellDef="let element"> {{ element.idOrdenPago }} </td>
        </ng-container>

        <!-- Fecha -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha | date:'mediumDate' }} </td>
        </ng-container>

        <!-- Precio original -->
        <ng-container matColumnDef="precioOriginal">
            <th mat-header-cell *matHeaderCellDef> Precio original </th>
            <td mat-cell *matCellDef="let element"> S/. {{ element.precioOriginal }} </td>
        </ng-container>

        <!-- Precio con descuento -->
        <ng-container matColumnDef="precioConDescuento">
            <th mat-header-cell *matHeaderCellDef> Descuento </th>
            <td mat-cell *matCellDef="let element">
            <span *ngIf="element.precioConDescuento > 0; else noDescuento">
                S/. {{ element.precioConDescuento }}
            </span>
            <ng-template #noDescuento>
                <em>No aplica</em>
            </ng-template>
            </td>
        </ng-container>

        <!-- Monto pagado -->
        <ng-container matColumnDef="montoPagado">
            <th mat-header-cell *matHeaderCellDef> Pagado </th>
            <td mat-cell *matCellDef="let element"> <strong>S/. {{ element.montoPagado }}</strong> </td>
        </ng-container>

      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #f5f5f5;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>