<div class="container-dialogo" style="background-color: #D9D9D9;">
	<h6 mat-dialog-title class="titular">¡VENTA FINALIZADA EXITOSAMENTE!</h6>
	<div mat-dialog-content>
	  <label>ID VENTA:&nbsp;&nbsp;</label>
	  <mat-form-field appearance="outline">
	    <input matInput type="number" class="example-right-align" placeholder="10056" readonly="true"/>
	  </mat-form-field>
	</div>
	<div mat-dialog-content>
		<label>MONTO DE VENTA:&nbsp;&nbsp;</label>
	 	<mat-form-field appearance="outline">
		   <input matInput type="number" class="example-right-align" placeholder="46.75" readonly="true"/>
		   <span matTextPrefix>S/.&nbsp;</span>
	   	</mat-form-field>
	</div>
	<div mat-dialog-content>
		<label>FECHA VENTA:&nbsp;&nbsp;</label>
		<mat-form-field appearance="outline">
			<input matInput type="text" class="example-right-align" placeholder="14/08/2024, 19:20 hrs." />
		</mat-form-field>
	</div>
	
	<div mat-dialog-content>
	  <label>VENDEDOR:&nbsp;&nbsp;</label>
	  <mat-form-field appearance="outline">
	    <input matInput type="text" class="example-right-align" placeholder="Vendedor Comercial" />
	  </mat-form-field>
	</div>
	<mat-dialog-actions style="display: flex; justify-content: center;">
		<button style="background-color: #71A64B; color: #031C26; font-weight: bolder;" mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial>ACEPTAR</button>
	</mat-dialog-actions>
</div>
