
<div mat-dialog-content>
  <label>ID VENTA:&nbsp;&nbsp;</label>
  <mat-form-field appearance="outline">
    <input matInput type="number" class="example-right-align" placeholder="10056" readonly="true"/>
  </mat-form-field>
</div>
<div mat-dialog-content>
	<label>MONTO DE VENTA:&nbsp;&nbsp;</label>
 	<mat-form-field appearance="outline">
	   <input matInput type="number" class="example-right-align" placeholder="46.75" readonly="true"/>
	   <span matTextPrefix>S/.&nbsp;</span>
   	</mat-form-field>
</div>
<div mat-dialog-content>
	<label>FECHA VENTA:&nbsp;&nbsp;</label>
	<mat-form-field appearance="outline">
		<input matInput type="text" class="example-right-align" placeholder="14/08/2024, 19:20 hrs." />
	</mat-form-field>
</div>

<div mat-dialog-content>
  <label>VENDEDOR:&nbsp;&nbsp;</label>
  <mat-form-field appearance="outline">
    <input matInput type="text" class="example-right-align" placeholder="Vendedor Comercial" />
  </mat-form-field>
</div>
