html, body {
	height: 100%;
	margin: 0;
}
  
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #031C26;
	padding: 10px;
	padding-bottom: 0%;
}

main {
	flex: 1;
	padding: 20px;
	background-color: #D9D9D9;
}

footer {
	background-color: #031C26;
	padding: 10px;
	text-align: center;
}

.sticky-header {
	position: sticky;
	top: 0;
	z-index: 1000;
}
