<div class="container">
  <div class="formulario">
    <!-- Contenido del formulario -->
    <div class="body-form">
    	<div style="align-items: center;">
    		<h1 class="titular" style="justify-content: center; margin-bottom:0px;">BIENVENIDO</h1>
    		<p style="text-align: center;">Academia lider en brindar asesorias</p>
    	</div>
	    <div style="display: flex; flex-direction: column;">
	   	  <mat-label class="titular">Correo</mat-label>
	      <mat-form-field style="width: 95%;">
	        <input matInput type="text" [(ngModel)]="value1" placeholder="Ingresar correo" maxlength="200">
	        <button *ngIf="value1" matSuffix mat-icon-button aria-label="Clear" (click)="value1=''">
	          <mat-icon>close</mat-icon>
	        </button>
	      </mat-form-field>
	
          <mat-label class="titular">Contraseña</mat-label>	
	      <mat-form-field style="width: 95%;">
	        <input matInput type="password" [(ngModel)]="value2" placeholder="Ingresar contraseña">
	        <button *ngIf="value2" matSuffix mat-icon-button aria-label="Clear" (click)="value2=''">
	          <mat-icon>close</mat-icon>
	        </button>
	      </mat-form-field>
	    </div>
	    
	    <div  style="margin-bottom: 20px; display:flex; flex-direction:column;">
	        <button mat-raised-button style="background-color: #031C26; color: #71A64B; font-weight: bolder; width:100%; margin-bottom: 10px;" (click)="login()">INGRESAR</button>
	        <button mat-raised-button style="background-color: #71A64B; color: #031C26; font-weight: bolder; width:100%" routerLink="/registrar-usuario">REGISTRARSE</button>
	    </div>
    </div>
    
  </div>
  <div class="imagenes">
	    <div class="logo-container">
	        <div class="icon">
	            <button class="btn-logo" (click)="clickLogo()">
	                <img src="../../assets/me_logo.svg" alt="ME Logo" class="mi-logo-svg">
	            </button>
	        </div>
	    </div>
	    <div class="imagen-container">
	    	<img src="../../assets/ingreso.png" alt="Foto Ingreso" class="ingreso-img">
	    </div>
	</div>
  
</div>
