<app-form-venta></app-form-venta>
<p>Sigue los pasos para realizar tu compra</p>
<div class="container">
	<div class="block1">
		<div style="margin-right: 40px;">
			<h6 class="titular">CURSOS MATRICULADOS</h6>
			<mat-list>
			  <mat-list-item>CÁLCULO INTEGRAL</mat-list-item>
			  <mat-divider></mat-divider>
			  <mat-list-item>FÍSICA 2</mat-list-item>
			  <mat-divider></mat-divider>
			  <mat-list-item>FUNDAMENTOS DE PROGRAMACIÓN</mat-list-item>
			</mat-list>
		</div>
	</div>

	<button mat-raised-button style="background-color: #71A64B; color: #031C26; font-weight: bolder;" routerLink="/iniciar-venta">SIGUIENTE</button>
</div>