.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.titular {
  font-weight: bolder;
  color: #71A64B;
  margin: 0;
}

.block1 {
  display: flex;
  flex-wrap: wrap;
}

mat-divider{
	width: 90%;
}

.example-button-row {
	
  position: relative; height: 100px;
}

.example-button-row a{
	position: absolute; 
	bottom: 0; 
	right: 0; 
	margin: 20px;
	width: 150px;
}