<app-form-venta></app-form-venta>

<div class="container">
	<div>
		<h6>CURSOS MATRICULADOS</h6>
		<mat-list>
		  <mat-list-item>CursoEjemplo1</mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item>CursoEjemplo2</mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item>CursoEjemplo3</mat-list-item>
		
		</mat-list>
	</div>
	<div>
		<h6>TIPO DE DESCUENTO</h6>
		<mat-radio-group
		  aria-labelledby="example-radio-group-label"
		  class="example-radio-group"
		  [(ngModel)]="TipoDescuento">
		  @for (descuento of descuento; track descuento) {
		    <mat-radio-button class="example-radio-button" [value]="descuento">{{descuento}}</mat-radio-button>
		  }
		</mat-radio-group>
	</div>
	<div class="example-button-row">
	    <a mat-flat-button routerLink="/iniciar-venta">Iniciar</a>
	</div>
</div>