.container {
  margin: 40px 20px; /* Mantén este estilo */
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

mat-divider{
	width: 90%;
}

.example-button-row {
	
  position: relative; height: 100px;
}

.example-button-row a{
	position: absolute; 
	bottom: 0; 
	right: 0; 
	margin: 20px;
	width: 150px;
}